* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

button {
  cursor: pointer;
  background-color: black;
  font-family: var(--font-poppins);
  color: white;
  font-size: 18px;
  padding: 7px 10px;
  border: 0;
  border-radius: 7px;

  &:hover:not(:active) {
    background-color: rgb(35, 35, 35);
  }
}

